html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: $fuentePrincipal;
    background: url("https://github.com/ChristhianSM/films-js/blob/main/src/img/fondo.png");
    background: url("/src/img/fondo.png");
    background-color: #1f1e1e;
}

p{
    font-size: 1.6rem;
    
}

h1,h2,h3,p{
    margin: 0;
    color: $blanco;
    font-size: 1.4rem;
}

.contenedor{
    max-width: 150rem;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 95%;
    }
}

.contenedor-2{
    max-width: 140rem;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 95%;
    }
}

a{
    text-decoration: none;
    color: $blanco;
    font-size: 2rem;
}

img{
    width: 100%;
}

.main{
    background-color: $bg-negro-oscuro ;
    padding-bottom: 50px;
    @include tablet{
        padding-top: 150px;
    }
}


.card-pelicula{
    border-radius: 5px;
    background-color: #0b151b;
    box-shadow: 5px 5px 3px;
    overflow: hidden;
    position: relative;

    /* Animacion de tiempo */
    animation: fadeIn;
    animation-duration: 3s;
    
    img{
        height: 280px;
    }
    .puntuacion{
        position: absolute;
        right: 0;
        top: 250px;
        background-color: #06080a;
        padding: 3px;
        display: flex;
        align-items: center;
        gap: 3px;

        span {
            color: #ffd600;
        }
    }


    

    .informacion-pelicula {
        
        .titulo-pelicula{
            font-size: 1.6rem;
            padding: 0 8px;
            height: 2rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;


            @include telefono {
                overflow: scroll;
                height: 2.5rem;
            }
        }
    
        .year-pelicula{
            font-size: 1.6rem;
            padding: 0 8px;
        }
    }
    
}