html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: $fuentePrincipal;
    background: url("https://github.com/ChristhianSM/films-js/blob/main/src/img/fondo.png");
    background-color: #080f28;
}

p{
    font-size: 1.6rem;
    
}

h1,h2,h3,p{
    margin: 0;
    color: $blanco;
    font-size: 1.4rem;
}

.contenedor{
    max-width: 150rem;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 95%;
    }
}

.contenedor-2{
    max-width: 140rem;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 95%;
    }
}

a{
    text-decoration: none;
    color: $blanco;
    font-size: 2rem;
}

img{
    width: 100%;
}

.main{
    background-color: $bg-negro-oscuro ;
    @include tablet{
        padding-top: 150px;
    }
}


.card-pelicula{
    border: 2px solid $negro;
    border-radius: 5px;
    background-color: #0b151b;
    box-shadow: 5px 5px 3px;
    overflow: hidden;

    /* Animacion de tiempo */
    animation: fadeIn;
    animation-duration: 3s;

    img{
        height: 280px;
    }

    

    .informacion-pelicula {

        .puntuacion{
            margin: $separacion/4 0;
            display: flex;
            justify-content: center;
            align-items: center;

            span{
                font-size: 18px;
                color: #eec719;
            }
        }
        
        .titulo-pelicula{
            margin: $separacion/4 0;
            text-align: center;
            font-size: 2rem;
        }
    
        .year-pelicula{
            margin: $separacion/4 0;
            text-align: center;
            font-size: 1.5rem;
        }
    }
    
}