/* Fuentes */
$fuentePrincipal : 'Roboto', sans-serif;

// Colores
$blanco: #ffffff;
$negro: #000;
$azul: #00466a;
$azul-claro: #307da5;
$bg-azul: #08212f;
$amarillo: #EDB709;

// MediaQueries
$telefono: 480px;
$tablet : 768px;
$desktop: 1200px;

// Tipo de Height
$delgada: 300;
$regular: 400;
$bold: 700;
$grueso: 900;

// Separacion 
$separacion : 5rem