.rojo {
    color: red;
}

.popup-class{
    background-color: blue;
}

.container-class {
    background-color:  blue;
}

.title-class {
    font-size: 1.5rem!important;
}

.confirmar-class {
    padding: 1.2rem 2rem!important;
}