.aside {
    padding-top: $separacion;
    padding-left: 10px;
    border-left: 1px solid #ffffff14;

    .generos{
        h2{
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: $separacion /4;
            letter-spacing: 1px;
        }
        
        ul{
            list-style: none;
            padding: 0 4px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            li {
                font-weight: 100;
                padding-bottom: 5px;
                border-bottom: 0.5px solid $blanco;

                a{
                    font-size: 15px;
                    display: flex;
                    justify-content: space-between;

                    &:hover {
                        color: red;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .annos-lanzamiento , 
    .ultimas-actualizaciones{

        margin-top: $separacion/2 + 1rem;

        h2{
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: $separacion /4;
            letter-spacing: 1px;
        }

        .fechas {
            display: grid;
            grid-template-columns: 1fr 2fr;
            margin-bottom: 1rem;
            align-items: center;

            label {
                color: $blanco;
                font-size: 1.5rem;
            }

            input {
                background-color: #ffffff14;
                font-size: 1.3rem;
                padding: 5px;
                color: $blanco;
                border: none;
                outline: none;
                text-align: center;
                border-radius: 5px;
            }
        }


        .contenedor-ultimas {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            .imagen {
                height: 120px;
                object-fit: cover;
            }
        }
    }

}