.header{
    background-color: rgba(15,15,15, 99%);
    position: fixed;
    z-index: 5;
    width: 100%;

    .contenedor-navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include tablet {
            display: block;
        }

        .navegacion{
            display: flex;
            align-items: center;
            gap: 2rem;

            @include tablet{
                display: block;
            }

            h1 {
                background-color: $bg-negro-claro;
                padding: 10px 5px;
                margin: 0;
                font-size: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;

                @include tablet {
                    margin-bottom: 1rem;
                }

                span{
                    font-size: 5rem;
                }
            }

            .navegacionPrincipal {
                display: flex;
                justify-content: center;
                gap: 1rem;

                @include tablet {
                    margin-bottom: 1rem;
                }
            }
        }

        .form-login{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $separacion/2;

            .buscarPelicula{
                padding: 1.2rem 1rem;
                border: none;
                border: 1px solid inherit;
                border-radius: 10px;
                color: black;
                font-size: 1.5rem;
                outline: none;
                width: 300px;
                background-color: #885a5a1a;
                color: $blanco;
                
                @include tablet {
                    width: 50%;
                }
                
                // &:focus-visible{
                    
                // }
                
            }
        }
    }
}

// lOGIN
.usuario{
    border: 0.5px solid $blanco;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    

    span{
        font-size: 3rem;
    }
}

.dropdown-item {
    font-size: 1.5rem!important;
}