#main.main{
    height: 100%;
    padding-top: 50px;

    @include tablet {
        padding-top: 15rem;
    }

    .contenedor-principal{
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 1rem;
        width: 95%;

        @include telefono{
            grid-template-columns:1fr;
        }
    }

    .resultadoFiltro{

        h2{
            font-size: 2.5rem;
            margin: 4rem 0 2rem 0;
        }

        .contenedor-filtros{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $separacion/2;
            margin-bottom: 2rem;

            @include tablet{
                grid-template-columns: repeat(2, 1fr);
                gap: $separacion/4;
            }
            @include telefono{
                grid-template-columns: 1fr;
                gap: $separacion/4;
            }
        }
    }

    .peliculas{
        margin-top: 0;
    
        .contenedor-peliculas{
    
            .estrenos{
                width: 100%;
                h2{
                    font-size: 2.5rem;
                    margin-bottom: $separacion/2;
                }
    
                .contenedor-estrenos{
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    gap: $separacion/2;
    
                    @media (max-width: 768px) {
                        grid-template-columns: repeat(2,1fr);
                    }
    
                    @include telefono{
                        grid-template-columns: 1fr;
                    }
                }
    
            }
    
            .peliculas-actualizadas {
    
                margin-top: $separacion;
    
                h2{
                    font-size:2.5rem;
                    margin-bottom: $separacion/2;
                }
            }
        }
        
    }
}