.nombre-pelicula{
    padding: 8rem 0;
    background-color: #353535;
    
    

    .contenedor-pelicula {
        display: grid;
        grid-template-columns: 2fr 5fr;
        align-items: center;
        gap: 1rem;

        @include tablet{
            grid-template-columns: 1fr;
            margin-top: 2rem;
        }

        @include telefono{
            padding: 1rem 0!important;
        }

    }

    img {
        width: 350px;
        height: 500px;
        border-radius: 5px;
        object-fit: cover;

        @include tablet{
            width: 350px;
            height: 500px;
            margin: 0 auto;
        }

        @include telefono{
            width: 300px;
            height: 400px;
        }
    }

    .informacion{

        .titulo-pelicula {
            font-size: 4rem;
            margin-bottom: 1rem;

            @include tablet{
                text-align: center;
            }
        }

        .subtitulo-informacion{
            display: flex;
            gap: 1rem;

            @include tablet{
                justify-content: center;
            }

            p{
                font-size: 1.6rem;
                margin-bottom: 1.3rem;

            }
        }

        .vista-general {
            margin-top: 2rem;

            h3 {
                font-size: 1.9rem;
                margin-bottom: 1rem;
            }
            p{
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
        }

        .ficha-tecnica {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
            margin: 2rem 0;

            @include telefono{
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
            }
        }
    }

}
.reparto {
    margin: 2rem 0;

    h2 {
        text-align: center;
        margin: 2rem 0 0 0;
        font-size: 2.5rem;
    }
}

.linea {
    height: 2px;
    background-color: #353535;
}

.posters {

    .paginas {
        display: flex;
        gap: 3rem;

        h2 {
            margin-top: 3rem;
            font-size: 3rem;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    
}

.recomendaciones {
    margin-top: 2rem;
    margin-bottom: 4rem;

    h2 {
        margin: 2rem 0 0 0;
        font-size: 3rem;
    }

    .informacion-recomendacion {
        display: flex;
        justify-content: space-between;
        
        p{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: inherit;
            margin-left: 10px;
        }

        .titulo {
            width: 50%;
        }

    }
}