.nombre-pelicula{
    padding: 8rem 0;
    background-color: #353535;

    .contenedor-pelicula {
        display: grid;
        grid-template-columns: 2fr 5fr;
        align-items: center;
        gap: 1rem;
    }

    img {
        width: 350px;
        height: 500px;
        border-radius: 5px;
        object-fit: cover;
    }

    .informacion{

        .titulo-pelicula {
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        .subtitulo-informacion{
            display: flex;
            gap: 1rem;

            p{
                font-size: 1.6rem;
                margin-bottom: 1.3rem;
            }
        }

        .vista-general {
            margin-top: 2rem;

            h3 {
                font-size: 1.9rem;
                margin-bottom: 1rem;
            }
            p{
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
        }

        .ficha-tecnica {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
            margin: 2rem 0;
        }
    }

}
.reparto {
    margin: 2rem 0;

    h2 {
        text-align: center;
        margin: 2rem 0 0 0;
        font-size: 2.5rem;
    }
}