.paginacion{
    border-top: 1px solid;

    .contenedor-paginacion{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        align-items: center;
        gap: 0.7rem;
        width: 95%;

        a{
            font-size: 1.5rem;
            border: 1px solid $negro;
            border-radius: 5px;
            padding: 5px 15px;
            background-color: #101010;
            text-align: center;

            &:hover {
                color: rgb(255, 6, 6);
                background-color: #000000;
            }

            &.activo{
                background-color: #000000;
            }
        }

        @include tablet {
            display: none;
        }

        @include desktop {
            grid-template-columns: repeat(15, 1fr);
        }
    }
}